.pad-left {
  margin-left: 10px;
}
.well div {
  color: #bbb;
}

.thumbnail {
  min-height: 210px;
}

.green {
  color: #63f163 !important;
}

.red {
  color: red !important;
}

.bold {
  font-weight: bold;
}
